ul {
    li {
        p {
            font-style: italic;
            font-size: .8rem; 
        }
    }
}

.helloWorldDiv { 
    background-color: #78757a; 
    text-align: center; 
    vertical-align: middle;
    line-height: 390px;
}
