// css modules enable class seletors to be locally scoped. 
// have to individually import into .js files to utilize 
// avoids global styles over riding each other 

.header {
    padding: 1rem 0 3rem; // put some space between header content and other things on the page 
}

.title {
    color: #000000; 
    font-size: 3rem; 
    text-decoration: none; // removing underline from links default style 
}

// dashes are camcelCase referenced  in .js files example className={object.navList}
.nav-list { 
    display: flex; // stack items left to right
    list-style-type: none; // removes bullet points 
    margin: 0; // removes list margin default values 
}

.nav-item {
    color: #000000;
    font-size: 1.5rem;
    margin-right: 5rem; // avoids items being jammed and tightly placed together
    text-decoration: none; 
}

// can still enables pseudo classes in css modules 
.nav-item:hover {
    color: #999999;
}

.active-nav-item {
    color: #663399; 
    font-weight: bold; 
}

.link {
    color: #999999; 
}



